<!-- -*- mode: XML -*- -->
<launch>

    <arg name="dynamixel_namespace" value="dynamixel_controller" />
    <param name="robot_description" textfile="$(find darwin_leg_tb)/urdf/darwin.urdf" />

    <!-- Publish the robot state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" value="20.0"/>
    </node>

    <node  ns="$(arg dynamixel_namespace)" name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                dxl_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 25
                    update_rate: 20
        </rosparam>
    </node>

    <!-- Start tilt and pan controller -->
    <rosparam ns="$(arg dynamixel_namespace)" file="$(find darwin_leg_tb)/param/darwin_leg.yaml" command="load"/>

    <node ns="$(arg dynamixel_namespace)" name="lag_controller" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port dxl_port
                j_ankle2_l_position_controller
                j_ankle1_l_position_controller
                j_tibia_l_position_controller
                j_thigh2_l_position_controller
                j_thigh1_l_position_controller
                j_pelvis_l_position_controller
                j_ankle2_r_position_controller
                j_ankle1_r_position_controller
                j_tibia_r_position_controller
                j_thigh2_r_position_controller
                j_thigh1_r_position_controller
                j_pelvis_r_position_controller
                "
           output="screen"/>

  <!-- Start joints trajectory controller controller -->
    <node name="leg_meta_controller" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --type=meta
                darwin_leg_controller
                j_ankle2_l_position_controller
                j_ankle1_l_position_controller
                j_tibia_l_position_controller
                j_thigh2_l_position_controller
                j_thigh1_l_position_controller
                j_pelvis_l_position_controller
                j_ankle2_r_position_controller
                j_ankle1_r_position_controller
                j_tibia_r_position_controller
                j_thigh2_r_position_controller
                j_thigh1_r_position_controller
                j_pelvis_r_position_controller
                " output="screen"/>

</launch>
